*{
    font-family: sans-serif;
}

body{
    background-color: rgb(72, 200, 209);
}

.game{
    display: grid;
    grid-template-columns: repeat(3,minmax(10px,150px));
    grid-template-rows: repeat(1vw,minmax(1vw,150px));
    justify-content: center;
    margin: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.game img{
    outline: solid rgb(0, 0, 0) 2px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.h1-container{
    display: block;
    text-align: center;
    padding: 15px;
}

.repeat-button{
    height: 50px;
    width: 100px;
    font-size: 30px;
    background-color: rgb(1, 157, 168);
    color: rgb(0, 0, 0);
}

#advertisment__repeat-button{
    display: none;
    height: 50px;
    width: 100px;
    font-size: 30px;
    background-color: rgb(1, 157, 168);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50vh;
}

.repeat-button-container{
    justify-content: center;
    display: flex;
    width: 100%;
}

.h1{
    justify-content: center;
    outline: solid rgb(32, 86, 90) 2px;
    display: inline;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(71, 174, 182);
    color: rgb(0, 29, 31);
}

.advert-container{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.advertisment{
    top: 40vh;
    display: none;
    position: absolute;
    text-align: center;
    width: 90vw;
    font-size: 10vw;
    background-color: rgba(0, 0, 0, 0.329);
    color: rgba(255, 255, 255, 0.733);
    border-radius: 30px;
    outline: solid red 5px;
}

.players-buttons{
    display: flex;
    justify-content: center;
}

.players-buttons button{
    height: 50px;
    width: 150px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin: 10px;
}

.sing-button{
    background-color: rgb(51, 111, 116);
}

.mult-button{
    background-color: rgb(88, 215, 224);
}